<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
      {{>navbar}}
    <!-- main header -->

    <div class="container main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side -->
            <div class="col-md-5 col-10 main_header_right">
                <figure>
                    <img src="images/about.png" alt="Aqeeb" class="aboutImg img-fluid">
                </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to AqeebWeathers</p>
              <h1>A team Of Professional <span class="text_clr">MERN STACK</span> Web Developers</h1>
              <a href="https://stackoverflow.com/"><button>About me</button></a>
              <!-- right side -->
            </div>
            
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
